# Run `cd examples/shared && npx tsx setup.ts` to generate this file
PAYER_PARTY=
PAYEE_PARTY=
CANTON_DSO_PARTY=

# OAuth2 credentials (Keycloak - cn-quickstart)
PAYER_TOKEN_URL=http://keycloak.localhost:8082/realms/AppUser/protocol/openid-connect/token
PAYER_CLIENT_ID=app-user-validator
PAYER_CLIENT_SECRET=6m12QyyGl81d9nABWQXMycZdXho6ejEX
PAYEE_TOKEN_URL=http://keycloak.localhost:8082/realms/AppProvider/protocol/openid-connect/token
PAYEE_CLIENT_ID=app-provider-validator
PAYEE_CLIENT_SECRET=AL8648b9SfdTFImq7FV56Vd0KHifHBuC

# Canton participant URLs
CANTON_LEDGER_URL_USER=http://localhost:2975
CANTON_LEDGER_URL_PROVIDER=http://localhost:3975
CANTON_SCAN_PROXY_URL=http://scan.localhost:4000
